/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

p {
    margin: 10px 0;
    color: #777;
} */
body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid #00796b;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #00796b;
}

p {
    margin: 10px 0;
    color: #004d40;
}
